<!-- Footer -->
<footer class="footer">
    <p class="copyright">&copy; Copyright Elegant Tek 2023 • All Rights Reserved</p>
  </footer>
  <!-- End of Footer -->
</div>

<script src="/JS/script.js"></script>
</body>
</html>