<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Images/logo-symbol.png" type="image/x-icon">
    <title><%= titleName %> - Elegant Tek</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/<%= stylesheetName %>.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.2.4/swiper-bundle.min.js"
      integrity="sha512-hJrV+LKHbu+Hxkn/+ZwGOCMUkap0ZfjJbca9WT38z69+MYmRzMlvUd401TOs1b4byAm4fGDESpEcCbG2A6cibQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div id="message">
      <p></p>
      <button class="btn-close-msg">
        <i class="fa-solid fa-times"></i>
      </button>
    </div>

    <div class="et-business-links">
      <div class="contacts">
        <div class="phone">
          <i class="fa-solid fa-phone"></i>
          <h4>210-758-0724</h4>
        </div>

        <div class="email">
          <i class="fa-solid fa-envelope"></i>
          <h4>info@eleganttek.com</h4>
        </div>
      </div>

      <div class="social-media-links">
        <a href="https://www.linkedin.com/company/elegant-tek/" class="social-media-link" title="LinkedIn" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/company/elegant-tek/" class="social-media-link" title="LinkedIn" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="container">
      <!-- Header -->
      <header class="header">
        <!-- Navbar -->
        <nav class="navbar">
          <a href="/" class="logo">
            <img src="/Images/Logo.svg" alt="logo" />
          </a>
          <ul class="nav-links">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link">
              <a href="/services">Services</a>
            </li>
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link"><a href="/#section4">Contact</a></li>
            <li class="nav-link"><a href="/careers">Careers</a></li>
          </ul>
          <div class="burger">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
          </div>
        </nav>
        <!-- End of Navbar -->
      </header>
      <!-- End of Header -->

      <!-- Section 1 -->
      <section class="section-1">
        <h1 class="section-1-heading"><%= section1Heading %></h1>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <% for(let image of section1Images) { %>
              <div class="swiper-slide banner">
                <img
                  src="/Images/Section 1 Images/<%= image %>.jpg"
                  class="banner-img"
                  alt="Header 1"
                />
              </div>
            <% } %>
          </div>
        </div>
      </section>
      <!-- End of Section 1 -->