<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/Images/Symbols/logo-symbol.png"
      type="image/x-icon"
    />
    <title>About - Elegant Tek</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/about.css" />
  </head>
  <body>
    <div class="social-media-header">
      <div class="contact">
        <div class="phone">
          <i class="fa-sharp fa-solid fa-phone"></i>
          <span>Phone: +1-608-285-2631</span>
        </div>

        <div class="mail">
          <i class="fa-sharp fa-solid fa-envelope"></i>
          <span>Email: contact@eleganttek.com</span>
        </div>
      </div>

      <div class="social-media-links">
        <a
          href="https://www.facebook.com/profile.php?id=100092390304118"
          class="social-media-link"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i>
        </a>

        <a
          href="https://www.linkedin.com/company/elegant-tek/"
          class="social-media-link"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>

    <div class="container">
      <!-- Section 1 -->
      <section class="section-1">
        <a href="/" class="btn btn-prev">
          <i class="fas fa-arrow-left"></i>
        </a>
        <div class="section-1-heading-wrapper section-heading-wrapper">
          <div class="heading">
            <h1>about us</h1>
            <div class="line"></div>
          </div>

          <div class="para">
            <p>we provide tailored solutions to drive your business forward.</p>
          </div>
        </div>
        <div class="swiper mainSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
              <img src="/Images/Assets/About/header_1.jpg" />
            </div>
          </div>
        </div>
      </section>
      <!-- End of Section 1 -->
      <!-- Section 2 -->
      <section class="section-2">
        <div class="cards">
          <div class="card">
            <div class="card-img">
              <img src="/Images/Assets/About/card_img_1.jpg" />
            </div>

            <div class="card-content">
              <h1>Relentless Focus On Delivering Excellence</h1>
              <p>
                Your trusted partner for comprehensive IT consulting services.
                we empower businesses to harness the power of technology and
                achieve their strategic objectives.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="/Images/Assets/About/card_img_2.jpg" />
            </div>

            <div class="card-content">
              <h1>In-depth industry knowledge and extensive experience</h1>
              <p>
                We understand the critical role that technology plays in today's
                fast-paced business landscape. We offer expert guidance and
                customized solutions tailored to meet your unique challenges and
                goals.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="/Images/Assets/About/card_img_3.jpg" />
            </div>

            <div class="card-content">
              <h1>
                We deliver innovative strategies and cutting-edge solutions that
                drive tangible results
              </h1>
              <p>
                Our team of highly skilled professionals is dedicated to
                providing exceptional service and building long-lasting
                partnerships. We take the time to understand your business
                inside out, allowing us to deliver innovative strategies and
                cutting-edge solutions that drive tangible results.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="/Images/Assets/About/card_img_4.jpg" />
            </div>

            <div class="card-content">
              <h1>As a client-centric company, we prioritize your success</h1>
              <p>
                We believe in transparent communication, collaborative
                problem-solving, and a relentless commitment to delivering
                value. Our track record of satisfied clients speaks for itself,
                as we consistently exceed expectations and help businesses
                thrive in the digital age.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="/Images/Assets/About/card_img_5.jpg" />
            </div>

            <div class="card-content">
              <h1>Let us navigate the complexities of technology together</h1>
              <p>
                Partner with Elegant Tek and experience the difference of
                working with a trusted IT consulting firm. Unlock new
                possibilities and drive your business towards sustainable growth
                and success.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="/Images/Assets/About/card_img_6.jpg" />
            </div>

            <div class="card-content">
              <h1>
                Passionate about empowering businesses with the right technology
                solutions
              </h1>
              <p>
                Our team of seasoned IT professionals is dedicated to providing
                innovative and customized solutions that align with your
                business objectives.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End of Section 2 -->

      <!-- Footer -->
      <footer class="footer">
        <p class="copyright">
          Copyright © 2023 Elegant Tek LLC. All Rights Reserved
        </p>
      </footer>
      <!-- End of Footer -->
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.js"
      integrity="sha512-+z66PuMP/eeemN2MgRhPvI3G15FOBbsp5NcCJBojg6dZBEFL0Zoi0PEGkhjubEcQF7N1EpTX15LZvfuw+Ej95Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/JS/script.js"></script>
  </body>
</html>
