<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/Images/Symbols/logo-symbol.png"
      type="image/x-icon"
    />
    <title>Elegant Tek</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/home.css" />
  </head>
  <body>
    <div class="container">
      <div class="tooltip">
        <!-- Show a message not delivered -->
        <p>Message delivered!</p>
        <button class="btn btn-close-tooltip">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="dark-cover"></div>
      <!-- Navbar -->
      <nav class="navbar">
        <a href="/" class="logo">
          <img src="/Images/Logos/Logo.png" alt="Elegant Tek" />
        </a>

        <ul class="nav-links">
          <li class="nav-link active"><a href="#home">home</a></li>
          <li class="nav-link"><a href="#about">about us</a></li>
          <li class="nav-link"><a href="#services">services</a></li>
          <li class="nav-link"><a href="#careers">careers</a></li>
          <li class="nav-link"><a href="#contact">contact us</a></li>
        </ul>

        <div class="btn btn-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </nav>
      <!-- End of Navbar -->
      <!-- Section 1 -->
      <section class="section-1" id="home">
        <div class="social-media-header">
          <div class="contact">
            <div class="phone">
              <i class="fa-sharp fa-solid fa-phone"></i>
              <span>Phone: +1-608-285-2631</span>
            </div>

            <div class="mail">
              <i class="fa-sharp fa-solid fa-envelope"></i>
              <span>Email: contact@eleganttek.com</span>
            </div>
          </div>

          <div class="social-media-links">
            <a
              href="https://www.facebook.com/profile.php?id=100092390304118"
              class="social-media-link"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>

            <a
              href="https://www.linkedin.com/company/elegant-tek/"
              class="social-media-link"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
        <div class="swiper mainSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
              <img src="/Images/Assets/BGs/Home Slider Image 1.jpg" />
              <div class="banner">
                <h1>Partner with the Best IT Consultants</h1>
                <p>
                  From strategy development to implementation, we offer
                  comprehensive IT solutions to help your business thrive.
                </p>
              </div>
            </div>

            <div class="swiper-slide slide-2">
              <img src="/Images/Assets/BGs/Home Slider Image 2.jpg" />
              <div class="banner">
                <h1>Expert IT Consulting for Your Unique Needs</h1>
                <p>
                  We understand that every business is different - that's why we
                  tailor our solutions to fit your specific goals and
                  requirements.
                </p>
              </div>
            </div>

            <div class="swiper-slide slide-3">
              <img src="/Images/Assets/BGs/Home Slider Image 3.jpg" />
              <div class="banner">
                <h1>Unleashing the Power of Technology for Your Business</h1>
                <p>
                  With our proactive approach and deep industry knowledge, we
                  are your trusted partner in navigating the complexities of the
                  digital age and staying ahead of the competition.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End of Section 1 -->

      <!-- Section 2 -->
      <section class="section-2" id="about">
        <div class="section-2-heading-wrapper section-heading-wrapper">
          <div class="heading">
            <h1>we are elegant tek</h1>
            <div class="line"></div>
          </div>

          <div class="para">
            <p>
              Navigating the digital landscape with tailored IT consulting
              solutions
            </p>
          </div>
        </div>

        <div class="about">
          <div class="about-content">
            <p>
              Welcome to our IT consultancy, where innovation meets expertise.
              With a global presence and a dedicated team of professionals, we
              provide tailored solutions to drive your business forward.
            </p>
            <p>
              At Elegant Tek, we believe in harnessing the power of technology
              to transform businesses. Backed by years of industry experience,
              we offer strategic guidance, streamlined processes, and innovative
              solutions to help you thrive in the digital age.
            </p>
            <p>
              Discover the difference with Elegant Tek. With a client-centric
              approach, we collaborate closely with organizations of all sizes,
              leveraging our deep domain knowledge and technical prowess to
              unlock opportunities, solve complex challenges, and deliver
              sustainable results.
            </p>
          </div>
          <div class="about-img">
            <img src="/Images/Assets/About/home_page_abt.jpg" />
          </div>
        </div>

        <a href="/about" class="btn btn-light">more about us</a>
      </section>
      <!-- End of Section 2 -->

      <!-- Section 3 -->
      <section class="section-3" id="services">
        <div class="section-3-heading-wrapper section-heading-wrapper">
          <div class="heading">
            <h1>our services</h1>
            <div class="line"></div>
          </div>

          <div class="para">
            <p>
              Harness the power of technology with our comprehensive IT
              consultancy services
            </p>
          </div>
        </div>

        <div class="services">
          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/app-development.png" />
            </div>
            <div class="service-content">
              <h1>Mobile Apps Development</h1>
              <p>Bridging the gap between your business and your customers.</p>
            </div>
          </div>

          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/enterprise.png" />
            </div>
            <div class="service-content">
              <h1>Enterprise Web Applications</h1>
              <p>Empower your enterprise with cutting-edge technology.</p>
            </div>
          </div>

          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/cloud-service.png" />
            </div>
            <div class="service-content">
              <h1>Cloud Technology Solutions</h1>
              <p>
                Unlock the full potential of your business with cloud solutions.
              </p>
            </div>
          </div>

          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/analytics.png" />
            </div>
            <div class="service-content">
              <h1>Data Analytics</h1>
              <p>Transform your data into actionable insights.</p>
            </div>
          </div>

          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/ui.png" />
            </div>
            <div class="service-content">
              <h1>UI/UX & Web Development Solutions</h1>
              <p>Web development that's tailored to your needs and goals.</p>
            </div>
          </div>

          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/testing.png" />
            </div>
            <div class="service-content">
              <h1>IT Testing Services</h1>
              <p>
                Comprehensive testing services to ensure your software is ready
                to launch.
              </p>
            </div>
          </div>

          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/analytics.png" />
            </div>
            <div class="service-content">
              <h1>Infrastructure Services</h1>
              <p>
                Efficient and effective infrastructure services for modern
                businesses.
              </p>
            </div>
          </div>

          <div class="service">
            <div class="service-img">
              <img src="/Images/Assets/Services/support.png" />
            </div>
            <div class="service-content">
              <h1>BPO Services</h1>
              <p>Streamline your business processes with our BPO services.</p>
            </div>
          </div>
        </div>

        <a href="#contact" class="btn btn-light">contact us</a>
      </section>
      <!-- End of Section 3 -->

      <!-- Section 4 -->
      <section class="section-4" id="careers">
        <div class="section-4-heading-wrapper section-heading-wrapper">
          <div class="heading">
            <h1>career with us</h1>
            <div class="line"></div>
          </div>

          <div class="para">
            <p>
              Join our team of talented professionals and work on cutting-edge
              projects that make a real difference in the world.
            </p>
          </div>
        </div>

        <div class="career-benefits">
          <div class="card">
            <div class="card-img">
              <img src="Images/Assets/Career/Image_1.png" />
            </div>

            <div class="card-content">
              <h1>professional growth</h1>
              <p>
                We are committed to your professional development. Take
                advantage of our training programs, workshops, and mentorship
                opportunities to enhance your skills and advance your career
                within the company.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="Images/Assets/Career/Image_2.png" />
            </div>

            <div class="card-content">
              <h1>Meaningful Work</h1>
              <p>
                Make a real impact on the world through projects that matter.
                Join our team and contribute to innovative solutions that
                address significant challenges and shape the future.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="Images/Assets/Career/Image_3.png" />
            </div>

            <div class="card-content">
              <h1>Work-Life Balance</h1>
              <p>
                We understand the importance of maintaining a healthy work-life
                balance. Benefit from flexible work arrangements, paid time off,
                and employee wellness programs that promote your well-being.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="Images/Assets/Career/Image_4.png" />
            </div>

            <div class="card-content">
              <h1>Exciting Challenges</h1>
              <p>
                Embrace new challenges and opportunities for growth. Our dynamic
                work environment offers exciting projects, cutting-edge
                technologies, and the chance to expand your skill set.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-img">
              <img src="Images/Assets/Career/Image_5.png" />
            </div>

            <div class="card-content">
              <h1>Company Culture</h1>
              <p>
                Join a company with a positive and inclusive culture. We value
                diversity, teamwork, and open communication, creating an
                environment where you can thrive and feel connected.
              </p>
            </div>
          </div>
        </div>

        <a href="/careers" class="btn btn-light">see job positions</a>
      </section>
      <!-- End of Section 4 -->

      <!-- E-Verify Block -->
      <div class="content-block everify-block">
        <img
          src="Images/Symbols/E-Verify.svg"
          alt="E-Verify Symbol"
          class="everify-symbol"
        />

        <div class="everify-content">
          <h1>ELEGANT TEK LLC. PARTICIPATES IN E-VERIFY</h1>
          <p>
            Elegant Tek will provide the Social Security Administration (SSA)
            and, if necessary, the Department of Homeland Security (DHS), with
            information from each new employee’s Form I-9 to confirm work
            authorization.
          </p>
        </div>
      </div>
      <!-- End of E-Verify Block -->

      <!-- Section 5 -->
      <section class="section-5" id="contact">
        <div class="section-5-heading-wrapper section-heading-wrapper">
          <div class="heading">
            <h1>contact us</h1>
            <div class="line"></div>
          </div>

          <div class="para">
            <p>
              Get in touch with our dedicated IT consultancy team today to
              discuss your unique needs
            </p>
          </div>
        </div>

        <div class="contact-form">
          <div class="form-alt">
            <div class="swiper contactSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide alt-details">
                  <div class="alt-country">
                    <div class="alt-country-name">
                      <h2>US</h2>
                    </div>
                    <div class="alt-detail address">
                      <i class="fa-solid fa-location-dot"></i>
                      <h3>583 D’ONOFRIO DRIVE SUITE 4 MADISON, WI 53719</h3>
                    </div>

                    <div class="alt-detail contact">
                      <i class="fa-sharp fa-solid fa-phone"></i>
                      <h3>+1-608-285-2631</h3>
                    </div>

                    <div class="alt-detail mail">
                      <i class="fa-solid fa-envelope"></i>
                      <h3>contact@eleganttek.com</h3>
                    </div>
                  </div>

                  <div class="alt-country">
                    <div class="alt-country-name">
                      <h2>UK</h2>
                    </div>
                    <div class="alt-detail address">
                      <i class="fa-solid fa-location-dot"></i>
                      <h3>
                        FORUNITY TECHNOLOGIES LIMITED 42 SWALLOW CRESCENT LEEDS
                        - LS12 4RB
                      </h3>
                    </div>

                    <div class="alt-detail contact">
                      <i class="fa-sharp fa-solid fa-phone"></i>
                      <h3>+44-7525702790</h3>
                    </div>

                    <div class="alt-detail mail">
                      <i class="fa-solid fa-envelope"></i>
                      <h3>contact@eleganttek.com</h3>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide alt-details">
                  <div class="alt-country">
                    <div class="alt-country-name">
                      <h2>India</h2>
                    </div>
                    <p>
                      Prepare to experience top-notch IT consultancy services as
                      we gear up to launch in India. Stay tuned for updates on
                      our grand opening!
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination alt-switches"></div>
            </div>
          </div>

          <div class="divider"></div>

          <form action="/contact" class="form-main" method="post">
            <h3>message us!</h3>
            <div class="form-control">
              <label for="name">your name</label>
              <input
                type="text"
                id="name"
                class="input"
                name="name"
                placeholder="eg: John Doe"
                required
              />
              <div class="feedback">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>This is the feedback for name!</span>
              </div>
            </div>

            <div class="form-control">
              <label for="email">your email</label>
              <input
                type="email"
                id="email"
                class="input"
                name="email"
                placeholder="eg: johndoe@example.com"
                required
              />
              <div class="feedback">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>This is the feedback for email!</span>
              </div>
            </div>

            <div class="form-control">
              <label for="message">your message</label>
              <textarea
                name="message"
                id="message"
                class="input"
                placeholder="eg: Hi team Elegant Tek..."
                required
              ></textarea>
              <div class="feedback"></div>
            </div>

            <button type="submit" class="btn btn-primary btn-submit">
              send message
            </button>
          </form>
        </div>
      </section>
      <!-- End of Section 5 -->

      <!-- Footer -->
      <footer class="footer">
        <p class="copyright">
          Copyright © 2023 Elegant Tek LLC. All Rights Reserved
        </p>
      </footer>
      <!-- End of Footer -->
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.js"
      integrity="sha512-+z66PuMP/eeemN2MgRhPvI3G15FOBbsp5NcCJBojg6dZBEFL0Zoi0PEGkhjubEcQF7N1EpTX15LZvfuw+Ej95Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/JS/script.js"></script>
    <script src="/JS/home.js"></script>
  </body>
</html>
