<%- include('partials/head') %>
      <!-- Section 2 -->
      <div class="section-2">
        <h1 class="section-2-heading">Our Best Services</h1>
        <div class="category category-1">
          <div class="category-heading category-1-heading">
            <div class="line"></div>
            <h2>Product Development & R&D Engineering</h2>
          </div>

          <div class="services">
            <div class="service">
              <img
                src="/Images/Service Page Assets/app-development.png"
                alt="App Development"
              />
              <div class="service-content">
                <h3 class="service-content-heading">Mobile Apps Development</h3>
                <p class="service-content-para">
                  Bridging the gap between your business and your customers.
                </p>
              </div>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/enterprise.png"
                alt="Enterprice Web"
              />
              <div class="service-content">
                <h3 class="service-content-heading">
                  Enterprise Web Applications
                </h3>
                <p class="service-content-para">
                  Empower your enterprise with cutting-edge technology.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="category category-2">
          <div class="category-heading category-1-heading">
            <div class="line"></div>
            <h2>IT Services</h2>
          </div>

          <div class="services">
            <div class="service">
              <img
                src="/Images/Service Page Assets/cloud-service.png"
                alt="Cloud"
              />
              <div class="service-content">
                <h3 class="service-content-heading">
                  Cloud Technology Solutions
                </h3>
                <p class="service-content-para">
                  Unlock the full potential of your business with cloud
                  technology solutions.
                </p>
              </div>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/analytics.png"
                alt="Data Analytics"
              />
              <div class="service-content">
                <h3 class="service-content-heading">Data Analytics</h3>
                <p class="service-content-para">
                  Transform your data into actionable insights.
                </p>
              </div>
            </div>

            <div class="service">
              <img src="/Images/Service Page Assets/ui.png" alt="UI-UX" />
              <div class="service-content">
                <h3 class="service-content-heading">
                  UI/UX & Web Development Solutions
                </h3>
                <p class="service-content-para">
                  Web development that's tailored to your needs and goals.
                </p>
              </div>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/testing.png"
                alt="Testing"
              />
              <div class="service-content">
                <h3 class="service-content-heading">IT Testing Services</h3>
                <p class="service-content-para">
                  Comprehensive testing services to ensure your software is
                  ready for launch.
                </p>
              </div>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/infrastructure.png"
                alt="Infrastructure"
              />
              <div class="service-content">
                <h3 class="service-content-heading">Infrastructure Services</h3>
                <p class="service-content-para">
                  Efficient and effective infrastructure services for modern
                  businesses.
                </p>
              </div>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/support.png"
                alt="BPO Service"
              />
              <div class="service-content">
                <h3 class="service-content-heading">BPO Services</h3>
                <p class="service-content-para">
                  Streamline your business processes with our BPO services.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="category category-3">
          <div class="category-heading category-1-heading">
            <div class="line"></div>
            <h2>Areas of Industries We Serve</h2>
          </div>

          <div class="services">
            <div class="service">
              <img src="/Images/Service Page Assets/bank.png" alt="Banking" />
              <h3 class="service-content-heading">Banking</h3>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/healthcare.png"
                alt="Health Care"
              />
              <h3 class="service-content-heading">Health Care</h3>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/shopping-cart.png"
                alt="Retail"
              />
              <h3 class="service-content-heading">Retail</h3>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/automotive.png"
                alt="Auto Motive"
              />
              <h3 class="service-content-heading">Auto Motive</h3>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/life-insurance.png"
                alt="Insurance"
              />
              <h3 class="service-content-heading">Insurance</h3>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/microscope.png"
                alt="Life & Sciences"
              />
              <h3 class="service-content-heading">Life and Sciences</h3>
            </div>

            <div class="service">
              <img
                src="/Images/Service Page Assets/mobile-shopping.png"
                alt="E-commerce"
              />
              <h3 class="service-content-heading">E-commerce</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Section 2 -->

      <%- include('partials/foot') %>
