.nav-link:nth-of-type(3) a {
  color: #f67a00;
}

/* Section 2 */
.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
}

.section-2-heading {
  font-family: var(--Font-Family-2);
  font-weight: 600;
  font-size: 6rem;
  color: #001427;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 7rem;
}

.content-holder {
  width: 100%;
  padding: 7rem 15rem;
}

.content-holder:nth-child(even) {
  background: #efefef;
}
.content-heading {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-heading .line {
  width: 8rem;
  height: 0.3rem;
  background: #f67a00;
  border-radius: 1rem;
  margin-right: 3rem;
}

.content-heading h2 {
  font-family: var(--Font-Family-3);
  font-weight: 600;
  font-size: 4rem;
  color: #343a40;
  letter-spacing: 0.2rem;
}

.content-holder p {
  font-family: var(--Font-Family-1);
  font-weight: 500;
  font-size: 2rem;
  color: #6c6c6c;
  text-align: justify;
  letter-spacing: 0.16rem;
  line-height: 3.9rem;
  margin-top: 3rem;
}
/* End of Section 2 */

/* Responsives */
@media (max-width: 1650px) {
  .section-2 {
    padding: 5rem 0;
  }

  .section-2-heading {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .content-holder {
    padding: 5rem 10rem;
  }

  .content-heading .line {
    width: 7rem;
  }

  .content-heading h2 {
    font-size: 3.3rem;
  }

  .content-holder p {
    font-size: 1.6rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 1300px) {
  .section-2 {
    padding: 5rem 0;
  }

  .section-2-heading {
    font-size: 4.5rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 1000px) {
  .section-2 {
    padding: 4.5rem 0;
  }

  .section-2-heading {
    font-size: 4rem;
    margin-bottom: 4.5rem;
  }

  .content-holder {
    padding: 4.5rem 8rem;
  }

  .content-holder .line {
    width: 6rem;
  }

  .content-holder h2 {
    font-size: 3rem;
  }

  .content-holder p {
    font-size: 1.5rem;
    line-height: 3.3rem;
  }
}

@media (max-width: 720px) {
  .section-2 {
    padding: 4rem 0;
  }

  .section-2-heading {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }

  .content-holder {
    padding: 4rem 5rem;
  }

  .content-holder .line {
    display: none;
  }

  .content-holder h2 {
    font-size: 2.8rem;
  }

  .content-holder p {
    font-size: 1.4rem;
    line-height: 3rem;
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  .section-2 {
    padding: 3rem 0;
  }

  .section-2-heading {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .content-holder {
    padding: 3rem;
  }

  .content-holder p {
    line-height: 2.8rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 420px) {
  .section-2 {
    padding: 2rem 0;
  }

  .section-2-heading {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .content-holder {
    padding: 2rem;
  }

  .content-holder h2 {
    font-size: 2.5rem;
  }

  .content-holder p {
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin-top: 1rem;
  }
}
/* End of Responsives */
