.nav-link:nth-of-type(5) a {
  color: #f67a00;
}

/* Section 2 */
.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 15rem;
}

.section-2-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.section-2-heading {
  font-family: var(--Font-Family-2);
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: #343a40;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.section-2-para {
  font-family: var(--Font-Family-1);
  font-weight: 500;
  font-size: 2rem;
  color: #5c5c5c;
  letter-spacing: 0.15rem;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 4rem;
}

.job-position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #c0c0c0;
  padding: 4rem;
}

.job-position:nth-child(2) {
  border-top: 0.1rem solid #c0c0c0;
}

.job-title h4 {
  font-family: var(--Font-Family-3);
  font-weight: 400;
  font-size: 2.8rem;
  color: #747474;
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
}

.job-title h4 span {
  margin-right: 3rem;
}

.job-title .job-type {
  font-family: var(--Font-Family-1);
  font-weight: 600;
  font-size: 3.2rem;
  color: #343a40;
  letter-spacing: 0.2rem;
}

.btn-details {
  font-family: var(--Font-Family-1);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 2.5rem;
  border: 0;
  background: #343a40;
  color: #fff;
  letter-spacing: 0.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
/* End of Section 2 */

/* Responsives */
@media (max-width: 1650px) {
  .section-2 {
    padding: 7rem 10rem;
  }

  .section-2-heading {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .section-2-para {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  .job-position {
    padding: 3rem;
  }

  .job-position h4 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .job-title h4 span {
    margin-right: 2rem;
  }

  .job-title .job-type {
    font-size: 2.5rem;
  }

  .btn-details {
    font-size: 1.3rem;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 1300px) {
  .section-2-heading {
    font-size: 4.5rem;
  }

  .section-2-para {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .section-2 {
    padding: 7rem 8rem;
  }

  .section-2-heading {
    font-size: 4rem;
  }

  .section-2-para {
    font-size: 1.4rem;
  }

  .job-position {
    padding: 2rem;
  }

  .job-position h4 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .job-title h4 span {
    margin-right: 1.5rem;
  }

  .job-title .job-type {
    font-size: 2.2rem;
  }

  .btn-details {
    font-size: 1.2rem;
    padding: 1.5rem 1.8rem;
  }
}

@media (max-width: 720px) {
  .section-2 {
    padding: 7rem 6rem;
  }
}

@media (max-width: 500px) {
  .section-2 {
    padding: 5rem 4rem;
  }

  .section-2-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .section-2-para {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }

  .job-position {
    padding: 1rem;
  }

  .job-position h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .job-title h4 span {
    margin-right: 1rem;
  }

  .job-title .job-type {
    font-size: 2rem;
  }

  .btn-details {
    font-size: 1rem;
    padding: 1.3rem;
  }
}

@media (max-width: 420px) {
  .section-2 {
    padding: 4rem 3rem;
  }

  .section-2-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .section-2-para {
    margin-bottom: 2rem;
    line-height: 2rem;
  }

  .job-position {
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .job-title {
    margin-bottom: 2rem;
  }

  .job-position h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .job-title h4 span {
    margin-right: 1rem;
  }

  .job-title .job-type {
    font-size: 1.8rem;
  }

  .btn-details {
    font-size: 1rem;
    padding: 1.3rem;
  }
}
/* End of Responsives */
