.nav-link:nth-of-type(2) a {
  color: #f67a00;
}

/* Section 2 */
.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 15rem;
}

.section-2-heading {
  font-family: var(--Font-Family-2);
  font-weight: 600;
  font-size: 6rem;
  color: #001427;
  letter-spacing: 0.3rem;
}

.category {
  width: 100%;
}

.category-heading {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.category-heading .line {
  width: 8rem;
  height: 0.3rem;
  background: #f67a00;
  border-radius: 1rem;
  margin-right: 3rem;
}

.category-heading h2 {
  font-family: var(--Font-Family-3);
  font-weight: 600;
  font-size: 4rem;
  color: #343a40;
  letter-spacing: 0.2rem;
}

.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.service {
  width: calc((100% / 3) - 5rem);
  height: 400px;
  background: #f8f9fa;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 2.5rem;
}

.service img {
  width: 9rem;
}

.service-content {
  width: 100%;
  padding: 0 5rem;
  text-align: center;
}

.service-content-heading {
  font-family: var(--Font-Family-1);
  font-weight: 600;
  font-size: 2.8rem;
  color: rgba(0, 8, 20, 0.9);
  margin-top: 3rem;
  letter-spacing: 0.1rem;
}

.service-content-para {
  font-family: var(--Font-Family-1);
  font-weight: 400;
  font-size: 1.5rem;
  color: #444;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}
/* End of Section 2 */

/* Responsives */
@media (max-width: 1750px) {
  .service-content {
    padding: 0 3rem;
  }

  .service-content-heading {
    font-size: 2.5rem;
  }

  .service img {
    width: 8rem;
  }
}

@media (max-width: 1650px) {
  .section-2 {
    padding: 7rem 10rem;
  }

  .section-2-heading {
    font-size: 5rem;
  }

  .category-heading {
    margin-top: 6rem;
  }

  .category-heading .line {
    width: 7rem;
  }

  .category-heading h2 {
    font-size: 3.5rem;
  }

  .services {
    padding: 4rem 0;
  }

  .service {
    width: calc((100% / 3) - 5rem);
    height: 350px;
    margin: 2rem 2rem;
  }

  .service img {
    width: 7rem;
  }

  .service-content {
    padding: 0 3rem;
  }

  .service-content-heading {
    font-size: 2.2rem;
  }

  .service-content-para {
    font-size: 1.4rem;
  }
}

@media (max-width: 1300px) {
  .section-2-heading {
    font-size: 4.5rem;
  }

  .category-heading {
    margin-top: 5rem;
  }

  .category-heading .line {
    width: 6rem;
  }

  .category-heading h2 {
    font-size: 3rem;
  }

  .services {
    padding: 3rem 0;
  }

  .service {
    width: calc((100% / 3) - 4rem);
    height: 300px;
    margin: 2rem 2rem;
    padding: 0 2rem;
  }
}

@media (max-width: 1150px) {
  .service {
    width: calc((100% / 2) - 4rem);
  }
}

@media (max-width: 1000px) {
  .section-2 {
    padding: 5rem 8rem;
  }

  .section-2-heading {
    font-size: 4rem;
  }

  .category-heading {
    margin-top: 4rem;
  }

  .category-heading .line {
    width: 5rem;
  }

  .category-heading h2 {
    font-size: 2.5rem;
  }

  .services {
    padding: 2rem 0;
  }

  .service {
    width: calc((100% / 2) - 4rem);
    height: 250px;
    margin: 2rem 2rem;
    padding: 0 2rem;
  }

  .service img {
    width: 6rem;
  }

  .service-content {
    padding: 0 2rem;
  }

  .service-content-heading {
    font-size: 2rem;
  }

  .service-content-para {
    font-size: 1.2rem;
  }
}

@media (max-width: 720px) {
  .category-heading {
    width: 100%;
  }

  .category-heading .line {
    display: none;
  }

  .category-heading h2 {
    text-align: center;
  }

  .category-1 .service,
  .category-2 .service {
    width: 100%;
  }

  .category-1 .service img,
  .category-2 .service img {
    width: 6rem;
  }

  .category-1 .service .service-content,
  .category-2 .service .service-content {
    padding: 0 4rem;
  }

  .category-1 .service .service-content-heading,
  .category-2 .service .service-content-heading {
    font-size: 2.5rem;
  }

  .category-1 .service .service-content-para,
  .category-2 .service .service-content-para {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .section-2 {
    padding: 4rem 6rem;
  }

  .section-2-heading {
    font-size: 3.5rem;
  }

  .category-heading {
    margin-top: 3rem;
  }

  .category-heading h2 {
    font-size: 2.2rem;
  }

  .services {
    padding: 1rem 0;
  }

  .service {
    width: 100%;
    margin: 2rem 0;
    padding: 0 2rem;
  }

  .service img {
    width: 5rem;
  }

  .service-content {
    padding: 0 2rem;
  }

  .service-content-heading {
    font-size: 1.8rem;
  }

  .service-content-para {
    font-size: 1.2rem;
  }

  .category-3 .service {
    width: 100%;
  }

  .category-3 .service img {
    width: 5rem;
  }

  .category-3 .service .service-content {
    padding: 0 4rem;
  }

  .category-3 .service .service-content-heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 550px) {
  .section-2 {
    padding: 3rem 5rem;
  }

  .section-2-heading {
    font-size: 3rem;
  }

  .category-heading {
    margin-top: 2rem;
  }

  .category-heading h2 {
    font-size: 2rem;
  }

  .services {
    padding: 1rem 0;
  }

  .service {
    width: 100%;
    margin: 2rem 0;
    padding: 0 2rem;
  }

  .service img {
    width: 4rem;
  }

  .service-content {
    padding: 0 2rem;
  }

  .service-content-heading {
    font-size: 1.6rem;
  }

  .service-content-para {
    font-size: 1.2rem;
  }

  .category-3 .service {
    width: 100%;
  }

  .category-3 .service img {
    width: 5rem;
  }

  .category-3 .service .service-content {
    padding: 0 4rem;
  }

  .category-3 .service .service-content-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {
  .section-2 {
    padding: 2rem;
  }

  .section-2-heading {
    font-size: 2.5rem;
  }
}
/* End of Responsives */
